<% if(success && success.length ) {%>
  <h4 class="alert alert-success alert-warning alert-dismissible fade show col-6 offset-3" role="alert">
    <%= success %>

      <button type="button" class="close" onclick="this.parentElement.style.display='none';" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </h4>

  <% } %>
    <% if(error && error.length ) {%>
      <h4 class="alert alert-danger alert-warning alert-dismissible fade show col-6 offset-3" role="alert">
        <%= error %>

          <button type="button" class="close" onclick="this.parentElement.style.display='none';" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </h4>

      <% } %>