<%- layout('/layouts/boilerplate.ejs') %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Create a New List</h3>
                <form action="/listings" method="post">
                    <div>
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" placeholder="Add a catchy title" name="listing[title]"
                            class="form-control"><br>
                    </div>
                    <div>
                        <label for="description" class="form-label">Description:</label>
                        <textarea name="listing[description]" class="form-control"></textarea><br>
                    </div>
                    <div>
                        <label for="image" class="form-label">Image Link:</label>
                        <input type="text" name="listing[image]" placeholder="Image URL" class="form-control"><br>
                    </div>

                    <div class="row">
                        <div class=" col-md-4">
                            <label for="price" class="form-label">Price:</label>
                            <input type="number" placeholder="Rs.12000" name="listing[price]" class="form-control"><br>
                        </div>


                        <div class=" col-md-8">
                            <label for="country" class="form-label">Country:</label>
                            <input type="text" placeholder="Pakistan" name="listing[country]" class="form-control"><br>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" placeholder="Valancia Town,Lahore" name="listing[location]"
                            class="form-control"><br>
                    </div>








                    <button type="submit" class="btn edit-btn">Add</button><br><br>
                </form>
            </div>
        </div>
    </body>